body{
    
    width: 100%;
    height: 1000px;
    margin: 0px;
}
button{
    border: none;
    background-color:transparent;
    color: green;
    font-size: 18px;
    font-weight: bold;
}
.border{
    top: -5px;
    padding: 2px;
    border: 0.5px solid transparent;
}
.border:hover{
    border: 0.5px solid #ffffff;
}
.a{
    position: fixed;
    background-color:pink;
    height: 120px;
    width: 100%;
    border-radius: 5px;
    margin: 0px;
}
.a1{
    display: flex;
    margin: 5px;
    top: 40px;
    background-color:transparent;
    width: 90%;
    height: 90%;
    justify-content: space-between;
    background-position-y:-3px ;

}
.a1 i{
    font-size: 80px;
}
.a1 p{
    display: flex;
    top: 190pxs;
    margin-left:-800px;
    margin-top: 80px;
    text-align: center;
    color: green;
    font-size: 18px;
    font-weight: bold;
}
.a2 img{
    height: 1000px;
    width: 110%;
    margin: -11px;
}
.a3{
    position: fixed;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7uzfgpHYuS9359sGg0edfvN7pRUTPYUimNg&s"), repeating-linear-gradient(none);
    height: 100px;
    width: 50%;
    margin-left: 350px;
    margin-top: -550px;
    border-radius: 20px;
}
.a4{
    position: relative;
    height: 40px;
    width: 250px;
    margin-left: 80px;
    margin-top: -4px;
}
.a5{
    position: relative;
    height: 40px;
    width: 250px; 
    margin-top: -4px;
}
.a3 i{
    position: relative;
    font-size: 60px;
    margin-left: 30px;
    margin-top: 10px;
}
.a6{
    position: relative;
    margin-left: 620px;
}


/********************************************bookbus*********************************************/
.b{

    height: 100vh;
    width: 100%;
}
.b1{
    position: relative;
    display: flex;
    background-color: rgb(94, 75, 237);
    height: 70px;
    width: 100%;
    column-gap: 400px;
    align-items: center;
    
}
.b1 a{
    position: relative;
    font-size: 20px;
    color: orange;
    margin-left: 90px;
    text-decoration: none;
}
.b2{
    position: relative;
    width: 100%;
    height: 80px;
    display: grid;
    row-gap: 40px;
    margin-top: 20px;
    border-radius: 20px;
}
.ac1{
    position:relative;
    display: flex;
    background-color: orange;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-radius: 20px;
    height: 75px;

}
.ac1 i{
    font-size: 60px;
    margin-left: 10px;
}
.ac2{
    position:relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: orange;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-radius: 20px;
    height: 75px;

}
.ac2 i{
    font-size: 60px;
    margin-left: 10px;
}
.ac3{
    position:relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: orange;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-radius: 20px;
    height: 75px;

}
.ac3 i{
    font-size: 60px;
    margin-left: 10px;
}

.bt1:hover{
    background-color:grey;
}

.z{
    margin: 20px;
    margin-top: 2300px;
    background-color: lightblue;
    padding: 8px;
    border: solid;
    border-radius: 30px;
}

.za{
    position: relative;
    text-align: center;
    left: 10px;
}

.y{
    display: none;
    padding: 40px;
    grid-template-columns: 250px auto;
    justify-content: center;
    justify-items: center;
    margin: 10px;
    border: solid;
    border-radius: 30px;
    background-color: pink;
}
.y div{
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    border: solid;
    height: 50px;
    width: 200px;
    align-content: center;
}
.y div:nth-child(1) {
    border-color: red;
    color: blue;
    font-size: 30px;
    align-content: center;
}
.y div:nth-child(2) {
    border-color: red;
    color: blue;
    font-size: 30px;
    align-content: center;
}
.y div:hover{
    border-color: green;
    font-size: 30px;
    color: orange;
    align-content: center;
    padding: 10px;
}
.bt2{
    border: solid;
    margin: 20px;
    width: 70%;
    border-radius: 30px;
}